
<div class="container">
  <h1>Create a new cocktail</h1>
  <div class="row">
    <div class="col-md-6">
      <%= render 'form', cocktail: @cocktail %>
    </div>
  </div>
  <%= link_to 'Go back', cocktails_path  %>
</div>

