body {
  background: linear-gradient(to top, #ee0979, #ff6a00);
}

h1, h2, h3, a {
  color: white;
  a:hover {
    color: $purple;
  }
}

.drinks-list {
  padding: 10px;
}

.cocktail-pic-sm {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}
