h1, h2, h3{
  color: white;
}

body {
  background: linear-gradient(to top, #ee0979, #ff6a00);
  color: white;
  height: 100vh;
}

a {
  font-size: 24px;
  margin: 10px;
  color: $blue;
  font-weight: bold;
  text-decoration: none;
  a:hover{
    color: $red;
    text-decoration: none;
  };
}

ul {
  padding: 0;
}

li {
  font-size: 32px;
  margin: 10px;
  font-size: bolder;
  list-style: none;
}

#dose_description, #dose_ingredient_id {
  background: transparent;
  border-radius: 25px;
  border: 2px solid white;
  color: white;
}

